/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/thumb/1671280899.jpg
public/thumb/1671280921.jpg
public/thumb/1671280963.jpg
public/thumb/1671281123.jpg
public/thumb/1671281205.jpg
public/thumb/16712809002.jpg
public/thumb/16712809003.jpg
public/thumb/16712809004.jpg
public/thumb/16712809212.jpg
public/thumb/16712809223.jpg
public/thumb/16712809224.jpg
public/thumb/16712809652.jpg
public/thumb/16712809683.jpg
public/thumb/16712809714.jpg
public/thumb/16712811252.jpg
public/thumb/16712811283.jpg
public/thumb/16712811304.jpg
public/thumb/16712812052.jpg
public/thumb/16712812083.jpg
public/thumb/16712812104.jpg
storage/docs/Dummy (lagi) 3.zip
storage/docs/Dummy (lagi).zip
storage/docs/Dummy (lagi)2.zip
storage/docs/Dummy.zip
