*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.container_dashboard {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    margin: 0;
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 260px;
    /* width: 87px; */
    box-sizing: border-box;
    flex-direction: column;
    transition:all ease-in .3s;
    /* z-index: 1; */

}

.sidebar.hide{
    width: 87px;
    transition:all ease-out .3s;
}

.logo.logo-kecil{
    width: 50px;
    content:url('../img/t.png');
    margin-left: -10px;
    margin-top: -12px;
}


.sidebar .header {
    margin-bottom: 10px;
    padding: 24px;
}

.sidebar .sidebar-content .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 24px;
    gap: 15px;
    font-size: 16px;
    font-style: none;
}

.sidebar .sidebar-content .list-item a {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.sidebar.hide .list-item .description {
    display: none;
}

.sidebar .sidebar-content .list-item .icon {
    width: 20px;
    margin-left: 8px;
}

.sidebar .sidebar-content .list-item:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px 24px;
    gap: 15px;
    font-size: 16px;
    font-style: none;
    background-color: rgb(182, 182, 182);
}

.main-content {
    background-color: aquamarine;
    flex-grow: 1;
}

/* toogle menu  */
#menu-button{
    width: 40px;
    /* background-color:orange; */
    position: absolute;
    overflow: hidden;
}

#menu-label{
    position: relative;
    display: block;
    height: 20px;
    cursor:pointer;
    margin-left: 0;
}

#menu-checkbox{
    display:none;
}

#hamburger, #menu-label:after, #menu-label:before{
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color:black;
    margin-left: 10px;
}

#menu-label:after, #menu-label::before{
    content: "";
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1) left;
}

#menu-label:before{
    top:0;
}

#menu-label:after{
    top:8px;
}

#hamburger{
    top: 16px;
}

/* .logo-kecil{
    display
} */

/* #hamburger:before{
    content: "MENU";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    color: black;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

#menu-checkbox:checked + #menu-label:before{
    left: -39px;
}

#menu-checkbox:checked + #menu-label::after{
    left:39px;
} */

/* #menu-checkbox:checked + #menu-label #hamburger::before {
    animation:moveUpThenDown 0.8s ease 0.2s forwards,
    shakeUp 0.8s ease 0.2s forwards,
    shakeDown 0.2s ease 0.8s forwards
} */

.container .list-item{
    margin-right: 40px;
}

@keyframes moveUpThenDown{
    0%{
        top:0;
    }
    50%{
        top: -27px;
    }
    100%{
        top:-14px;
    }
}

@keyframes shakeUp {
    0%{
        transform: rotateZ(0);
    }
    25%{
        transform: rotateZ(-10deg);
    }
    50%{
        transform: rotateZ(0);
    }
    75%{
        transform: rotateZ(10deg);
    }
    100%{
        transform: rotateZ(0);
    }
}

@keyframes shakeDown{
    0%{
        transform: rotateZ(0);
    }
    80%{
        transform: rotateZ(3deg);
    }
    90%{
        transform: rotateZ(-3deg);
    }
    100%{
        transform: rotateZ(0);
    }
}