.body{
    font-family: 'Dosis', sans-serif;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0px;
}

.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #153767;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    width: 80vw;
    height: 20vh;
    border-radius: 15px;
}

.line{
    margin: 30px;
    display: flex;
    background-color: #0062B2;
    height: 4px;
    width: 90vw;
    border-radius: 3px;
}

#question{
    background-color: white;
    color: #153767;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin: 15px 0px;
    width: 80vw;
    border-radius: 15px;
    padding: 25px 50px;
}

#header-button{
    color: #153767;
    background-color: white;
    font-size: 24px;
    font-weight: 500;
}





